<%- include('partials/_head.ejs') %>


	<section>
		<form action="/register" method="POST">
			<input type="text" name="name" placeholder="Enter your name">
			<input type="text" name="email" placeholder="Enter your email">
			<input type="password" name="password" placeholder="Enter your password">
			<button type="submit">Register!</button>
		</form>
	</section>

	</body>

	</html>