<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User authentication & Cookies !</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  <section>
    <h1>Super secret page ! </h1>
    <% if(currentUser){ %>
      <h2>Hi <%= currentUser.name %>
      </h2>

      <% } %>
  </section>